body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #797eb3;
}

header {
  background: #2321a3;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

#resultados {
  margin-top: 20px;
  background: #95a6be;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
